{% extends 'core/base.html' %}
{% load bulma_tags %}
{% load static %}


{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="columns" hx-boost="flase">
    <div class="column is-half">
        <h1 class="title is-1 has-text-weight-bold">Login</h1>
        <p class="subtitle">Login with your account you have created.</p>
        <form method="POST">
            {{ form|bulma }}
            {% csrf_token %}
            <br>
            <br>
            <div class="buttons">
                <button type="submit" class="button is-large">Login</button>
            </div>
            <a href="{% url 'signup' %}">Don't have an account?</a>
        </form>
    </div>
</div>
{% endblock content %}