<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello {{user.username}}, Please Activate your account.</title>
</head>

<body>
    Please click on this link to activate your account
    <br>
    <br>
    <a href="{{ activate_link }}">Activate</a>
    <hr>
    <small>
        You are receiving this email because you have created an account on our Site
    </small>

    <p>
        Thanks for using our site!
        <br>
        <br>
        <i>
            The Arden Bank Team
        </i>
    </p>
</body>

</html>